/* h4{
    display: inline;
}
h1{
    display: inline;
} */
body {
	min-height: 100vh;
	display: grid;
	grid-template-rows: 1fr 6fr;
	margin: 0;
	background-color: red;
}
main {
	background-image: url(./images/hangman1.png);
	background-size: cover;
	background-position: right;
	background-repeat: no-repeat;
	padding: 1rem;
	display: grid;
	align-items: end;
	align-content: end;
	justify-items: start;
}
header {
	text-align: center;
	display: flex;
	justify-content: space-between;
	padding: 1rem;
}
img {
	margin: auto 0;
}

.keyboard {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	height: 120px;
	width: 800px;
	/* background-color: blue; */
	text-align: center;
	margin: auto 0;
}

.keyboard-keys {
	text-align: center;
	margin: 3px;
	width: 30px;
	height: 30px;
	justify-self: start;
}
/* .keyboard-keys:nth-child(1) {
} */

.hidden {
	display: none;
	background-color: blue;
}
.secret-div {
	display: inline;
	font-size: 80px;
}

#game-over {
	position: fixed;
	display: none;
	top: 20px;
	left: 20px;
	right: 20px;
	bottom: 20px;
	background-color: rgba(0, 0, 0,0.5);
	z-index: 2;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.game-over-screen-text{
	text-align: center;
	font-size: 40px;
	color: white;
}
.new-game{
	margin: 20px;
}